# Database
POSTGRES_DB=queenfitstyle
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_PORT=5432

# MinIO
MINIO_URL=http://localhost:9000
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin123
MINIO_BUCKET=queenfitstyle
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# Next.js revalidation
NEXTJS_REVALIDATE_URL=
NEXTJS_REVALIDATE_SECRET=

# WhatsApp
WHATSAPP_SELLER_PHONE=

# OpenAI
OPENAI_API_URL=
OPENAI_API_KEY=
OPENAI_MODEL=

# JWT
JWT_SECRET=
JWT_EXPIRATION_MS=

# Admin seed
ADMIN_EMAIL=
ADMIN_PASSWORD=

#PG Admin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# Service token (machine-to-machine)
SERVICE_CLIENT_ID=
SERVICE_CLIENT_SECRET=
